
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
}


.garage-vehicles::-webkit-scrollbar {
  margin-right: 10px;
width: 3.46px;
height: 2.16px;

}


.garage-vehicles::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.garage-vehicles::-webkit-scrollbar-thumb {
  margin-right: 10px;
  width: 10px;
  background: rgb(34,116,165);
}

.container {
    display: none;
    position: absolute;
    margin: auto;
    width: 70vw;
    height: 35vw;
    left: 290px;
    top: 160px;
    background-color: rgba(57,62,65, 0.6);
    border-top: 3px rgb(34,116,165) solid;
    border-bottom: 3px rgb(34,116,165) solid;
}

.container1 {
    display: none;
    position: absolute;
    margin: auto;
    width: 70vw;
    height: 35vw;
    left: 290px;
    top: 160px;
    background-color: rgba(57,62,65, 0.6);
}


.head {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 225px;
}

.close {
    z-index: 9999;
    position: relative;
    width: 25px;
    top: 20px;
    right: 15px;
    float: right;
}

.head-buttons {
    position: relative;
    width: 400px;
    height: 50px;  
    text-align: center;
    font-size: 20px;
    top: 10px;
    left: 60px;
}

.servername {
    position: relative; 
    top: 15px; 
    left: 13px;
    font-size: 35px;
    color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
    /* font-weight: bold; */
    text-align: center;
    word-spacing: 0em;
}

.impound {
    position: relative; 
    top: 35px;
    font-size: 28px;
    line-height: 0.5em;
    color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
    text-align: center;
    letter-spacing: -0em;
}

.head-switch-in {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: white;
    float: left;
    border-radius: 20px;
    margin: 25px;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
}

.head-switch-out {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: white;
    float: left;
    border-radius: 20px;
    margin: 25px;
    left: 180px;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
}

.selected {
    background-color: royalblue;
    color: white;
    background-color: rgba(57,62,65, 0.6);

}

.garage-vehicles {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 510px;
    top: -90px;
    overflow-x: hidden;
    overflow-y: auto;
    /* border: red 2px solid; */
    flex-direction: row;
    flex-wrap: wrap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
	margin-right:15px;
}

.vehicle {
    width: 32%;
    height: 75px;
    margin-bottom: 50px;
}

.vehicle-inner {
    position: relative;
    width: 90%;
    height: 150%;
    background-color: rgba(57,62,65, 0.6);
    color: white;
    border-top: 3px rgb(34,116,165) solid;
    border-radius: 3px;
    margin-bottom: 5%;
    top: 15%;
    left: 10%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
}

.vehicle-inner:hover {
    background-color: rgba(57,62,65, 1.0);
    border-top: 3px rgb(50,147,111) solid;
    color: white;
}

.inner-icon {
    position: relative;
    width: 65px;
    top: 20%;
    left: 5%;
}

.inner-label-knz {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
    font-size: 20px;
}

.inner-label-knz2 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
    font-size: 15px;
	text-align:center;
}

.inner-label-knz3 {
    position: absolute;
    bottom: -1px;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
    font-size: 12px;
	color:red;
	text-align:center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }