* {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #A6A5A4;
}

body {
  font-family: Consolas,monaco,monospace;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

body header {
  top: 0;
  margin: 0;
  height: 2rem;
  background: #323233;
  text-shadow: 1px 1px #0d0d0d, -1px -1px #323233;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 1;
}

body header h1 {
  margin-left: 1.5rem;
  color: #A6A5A4;
  line-height: 1rem;
}

body header h1 span {
  float: right;
  margin-right: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  cursor: pointer;
}

body h2 {
  font-size: 1.75em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

main .sidebar {
  background: #323233;
  min-width: 200px;
  max-width: 200px;
  margin-bottom: 0;
  border-right: .5rem solid #81A4D4;
  color: #A6A5A4;
  text-shadow: 1px 1px #0d0d0d, -1px -1px #121212;
  overflow: auto;
  height: auto;
}

main .sidebar h2 {
  text-align: center;
  margin: 0;
  padding: 1.2rem;
  font-size: 1.2em;
  background: #323233;
  color: #A6A5A4;
  border-bottom: 2px solid #2F2F2F;
}

main .sidebar h2:after {
  content: "";
}

main .sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main .sidebar li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: block;
  margin: 0;
  padding: 0 0 0 -10px;
  border-bottom: 2px solid #2F2F2F;
	margin-left:-40px;

}

main .sidebar li:hover {
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.5);
}

main .sidebar a {
  color: #A6A5A4;
  display: block;
  padding: .2em .2em;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .sidebar a:before {
  content: "SideBar";
}

main .sidebar a:hover {
  color: #81A4D4;
  margin-right: 1rem;
}

body>header {
  height: 4rem;
}

body>header h1 {
  line-height: 2rem;
}

body>header h1 span {
  line-height: 4rem;
}

main {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

main .sidebar {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

main .sidebar h2:after {
  content: "";
  padding-left: .5rem;
}

main .sidebar ul li {
  margin: 0;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .sidebar ul li:last-child {
  border-bottom: none;
}

main li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

main .sidebar a:before {
  content: "";
}

footer {
  font-size: 80%;
}


#all-content {
  flex: 1;
}
#all-content h1 {
  margin-left:10px;
}
#all-content p {
  margin-left:10px;
}

.info {
  background-color: #294860;
  border-radius: 10px;
  /* The border-radius gives rounded corners.*/
  color: white;
  padding: 10px;
  margin: 10px auto;
}



.info {
  background-color: #DFEAF1;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  color: black;
}

*/ .info-title {
  font-size: 1.9em;
  margin: 8px;
  text-align: center;
  color: #294860;
}

.info-description {
  font-weight: lighter;
  /* this makes the font a bit less dark */
  font-size: 0.8em;
  margin: 6px;
  font-family: Futura, Trebuchet MS, Arial, sans-serif; 
}