* { box-sizing: border-box; }

body {
	font-family: sans-serif;
	overflow: hidden;
	max-height: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	height: 100vh;
	
}

#iframe {
	width: 100%;
	flex: 1;
	background:ghostwhite;
	overflow: scroll;
	border: none;
	margin: 0;
	padding: 0;
}

#iframe.empty {
	display: none;
}

#iframe:not(.empty) ~ .panel-content {
	display:none;
}


.placeholder {
	flex: 1;
}

#iframe:not(.empty) + .placeholder {
	display:none;
}     


#panel-container {
	display: flex;
	flex: 1;
	top: 20px;
}

.panel {
	background: url('achtergrond.jpg');
	background-size: 100% 100%;
	position: relative;
	min-height:100%;
	display: flex;
	flex-direction: column;
}

.panel-wrap {
	position: relative;
	background: black;
	width: 100%;
	max-width: 600px;
	max-height: 80%;
	min-height: 80%;
	margin: 0 auto 0;
	padding: 60px 25px 60px 25px;
	top:50px;
	
	box-shadow: 0 0 3px #ddd;
	border-radius: 30px;
	transition: transform 0.75s ease, box-shadow 0.75s ease;
	display: flex;
	flex-direction: column;
}

.panel-wrap .terug {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	bottom: 15px;
	border: 1px solid #ddd;
	box-shadow: 0 0 4px #ddd;
	transition: all 0.5s ease;
	align-self: center;
}

.panel-wrap .terug:hover {
	background: whitesmoke;
}

.panel-wrap .panel {
	padding: 0;
	overflow:hidden;
}

footer {
	text-align: center;
	background: linear-gradient(to top, rgba(0,0,0, 0.25) 0%, rgba(43, 80, 133, 0.5) 100%);
	box-shadow: inset 0px -20px 20px 0px rgba(0,0,0,0.5);
	border-top: 1px solid black;
	box-sizing: border-box;
	perspective: 1000px;
}

footer ul {
	display: inline-block;
	box-sizing: border-box;
	margin: 16px 0px;
	padding: 0;
	transform-origin: bottom center !important;
	position: relative;
	width: 100%;
}

footer ul:before {
	background: linear-gradient(to top, rgba(0,0,0, 0.25) 0%, #a2abb7 100%);
	content: '';
	left: 0;
	position: absolute;
	transform: rotatex(45deg);
	width: 100%;
	z-index: -1;
	top: 50%;
	height: 100%;
	box-shadow: 1px 1px 10px 10px #333;
}

footer li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	transform: scale(1);
	transform-origin: bottom center;
	transition: transform 2s;
}

footer li:before {
	background: rgba(0, 0, 0, 0.65);
	border-radius: 12px;
	color: #fff;
	content: attr(data-title);
	display: block;
	float: left;
	font-size: 0.9em;
	text-shadow: #333 0.12em 0.1em;
	left: 50%;
	opacity: 0;
	position: absolute;
	text-align: center;
	/* top: -48px; */
	transform: translatex(-50%);
	transform-origin: bottom center !important;
	visibility: hidden;
	width: auto;
	padding: 0.75em;
	z-index: 2;
	box-sizing: border-box;
	box-shadow: 1px 2px 6px #f0f8ffb8;
}


footer li:hover:before {
	opacity: 1;
	top: -38px;
	visibility: visible;
}

.jump {
	-webkit-animation: JUMP 600ms 2 cubic-bezier(0.4, 0.01, 0.6, 0.99);
}

footer img:hover, footer i:hover {
	transform: scale(1.2);
}

@-webkit-keyframes JUMP {
	0% {
		bottom: 0;
	}
	50% {
		bottom: 20px;
		padding-bottom: 20px;
	}
	100% {
		bottom: 0;
	}
}

.nav-myframe {
	text-decoration: none;
}
    
	
	
	
	