@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
body {
	overflow: hidden;
	margin: auto;
	width:100%;
	height:100%;
	text-align: center;
}

.background-image {
	background-repeat: no-repeat;
	position: absolute;
	height: 700px;
	width:900px; 
	z-index: -1;
	background-color: rgba(57,62,65,0.6);
	border:3px solid #2274A5;
	opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tekst{
	padding-top:20px;
	font-size:25px;
	color:white;
	text-align:center;
}

img {
	position: relative;
	z-index: 1;
	margin-right: auto;
	margin-top: 20%;
	font-size: 10px;
	text-align:center;
}

.tittle {
	position: absolute;
	left: 0;
	top: 0;
	background: white;
	color: #2274A5;
	border: 0;
	padding: 1%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}
.tittle2 {
	position: absolute;
	left: 0;
	top: 0;
	background: white;
	color: #2274A5;
	border: 0;
	padding: 1%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

.interview {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 4%;
	border: 0;
	color: #2274A5;
	background-color: white;
	font-family: 'Raleway', sans-serif;
}

.interview:hover {
	border: 0;
	background-color: #2274A5;
	color: #fff;
	cursor: pointer;
}


.interview2 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 4%;
	border: 0;
	color: #fff;
	background-color: #FE5059;
	font-family: 'Raleway', sans-serif;
}

.interview2:hover {
	border: 0;
	background-color: #fff;
	color: #FE5059;
	cursor: pointer;
}

.interview3 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 4%;
	border: 0;
	color: #fff;
	background-color: #32936F;
	font-family: 'Raleway', sans-serif;
}

.interview3:hover {
	border: 0;
	background-color: #fff;
	color: #32936F;
	cursor: pointer;
}

.container {
	position: relative;
	white-space: nowrap;
	overflow-x: hidden;
	height: 600px;
	width: 500px;
	top: 30vh;
	margin: auto;
	-webkit-transform: translateY(-7.2em);
	transform: translateY(-7.2em);
}
.container2 {
	position: relative;
	white-space: nowrap;
	overflow-x: hidden;
	height: 600px;
	width: 500px;
	top: 30vh;
	margin: auto;
	-webkit-transform: translateY(-7.2em);
	transform: translateY(-7.2em);
}

.inner {
	position: absolute;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.inner2 {
	height: 600px;
	width:900px;  
	overflow-y:scroll;
	position: absolute;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.job {
	font-family: sans-serif;
	line-height: 12em;
	width: 12em;
	height: 12em;
	background-color: #E6F2FF;
	opacity: 1;
	border-radius: 2px;
	display: inline-block;
	margin: 10px;
	position: relative;
	bottom: -2em;
	transition: background 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.3s ease;
	transition: transform 0.3s ease, background 0.2s ease, box-shadow 0.2s ease;
	transition: transform 0.3s ease, background 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.3s ease;
	color: #fff;
}

.job:hover {
	background: #36394aee;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.4);
	z-index:1000;
}

.job[data-scale="1"],
.job[data-scale="3"] {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.job[data-scale="2"] {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	z-index:999;
}


.job2 {
	font-family: sans-serif;
	line-height: 12em;
	width: 15em;
	height: 15em;
	background-image: radial-gradient(circle, #495173, #5b6789, #6d7da0, #8094b7, #94accf);
	opacity: 1;
	border-radius: 2px;
	display: inline-block;
	margin: 0 0.05em;
	position: relative;
	bottom: -2em;
	transition: background 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.3s ease;
	transition: transform 0.3s ease, background 0.2s ease, box-shadow 0.2s ease;
	transition: transform 0.3s ease, background 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.3s ease;
	color: #fff;
}

.job2:hover {
	background: #36394aee;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.4);
	z-index:1000;
}

.job2[data-scale="1"],
.job2[data-scale="3"] {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.job2[data-scale="2"] {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	z-index:999;
}
